@CHARSET "UTF-8";
body{
	background:#eee;
}
.m-doc{
	width:960px;
	margin:0 auto;
}
.m-login-form{
	width:350px;
	margin:128px auto;
}
.header{
	min-height: 60px;
    padding: 0 15px;
}
.dark-bg{
	color: #fff;
    background-color: #0593d3;
    border-bottom: 1px solid #f1f2f7;
}

a.logo {
    font-size: 22px;
    font-weight: 300;
    color: #fed189;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}
.lite {
    color: #f3f3f3!important;
}

.top-nav{
	line-height:60px;
}
.top-nav ul li{
	float:right;
}
.top-nav ul li a{
	margin-left:25px;
	color:white;
}
.footer{
	position:fixed;
	bottom:0px;
	width:100%;
}