
.box_a{background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;bottom: 0;height:1rem;left: 0;line-height: 1rem;position: fixed;right: auto;text-align: center;width: 100%;z-index: 5000;}
.box_a .box_center2{margin: 0;padding: 0;width: 100%;height:1rem;text-align: center}
.box_a .box_center2 a{display: inline-block;height: .7rem;border-radius: .06rem;margin: 0 .15rem;color: #fff;font: .28rem/.7rem 'Microsoft YaHei';text-decoration: none;text-align: center;width:1.8rem;}
.box_a a.btn_a1{background: #e76049}
.box_a a.btn_a2{background: #4197ff}
/*===��������-�����ѯ end===*/

.box_b{background:#eee; border-top:1px solid #ddd;bottom: 0;height:1rem;left: 0;line-height: 1rem;position: fixed;right: auto;text-align: center;width: 100%;z-index: 5000;}
.box_b .box_center2{margin: 0;padding: 0;width: 100%;height:1rem;text-align: center}
.box_b .box_center2 a{display: inline-block;height: .65rem;border-radius: .06rem;margin: 0 .15rem;color: #fff;font: .26rem/.65rem 'Microsoft YaHei';text-decoration: none;text-align: center;width:2.7rem;}
.box_b a.btn_b1{background: url(../images/box_b_img1.png) no-repeat left .56rem top .17rem #38b7ea; text-indent:2em; background-size:.31rem .31rem;}
.box_b a.btn_b2{background: url(../images/box_b_img2.png) no-repeat left .56rem top .17rem #38b7ea; text-indent:1em; background-size:.28rem .32rem;}
/*===ҽ��ҳ-����ͶƱ end===*/

.box_c{background:#e1ebfc; border-top:1px solid #ddd;bottom: 0;height:1rem;left: 0;line-height: 1rem;position: fixed;right: auto;text-align: center;width: 100%;z-index: 5000;}
.box_c .box_center2{margin: 0;padding: 0;width: 100%;height:1rem;text-align: center}
.box_c .box_center2 a{display: inline-block;height: .65rem; color: #333;font: .24rem/.65rem 'Microsoft YaHei';text-decoration: none;text-align: center;width:2rem;}
.box_c a.btn_c1{background: url(../images/box_c_img1.png) no-repeat left .4rem top .17rem; text-indent:2em; background-size:.29rem .29rem;}
.box_c a.btn_c2{background: url(../images/box_c_img2.png) no-repeat left .4rem top .17rem; text-indent:1em; background-size:.29rem .29rem;}
.box_c a.btn_c3{background: url(../images/box_c_img3.png) no-repeat left .4rem top .17rem; text-indent:1em; background-size:.29rem .29rem;}

/*===ҽ��ҳ end===*/

.box_d{
	
	
	background:#e1ebfc; border-top:1px solid #ddd;bottom: 0;height:1.25rem;left: 0;line-height: 1rem;position: fixed;text-align: center;width: 100%;z-index: 5000; padding:.1rem 0;}
.box_d img.fl{ width:1.2rem; height:1.2rem; margin-left:.3rem;}
.box_d p{ line-height:.35rem;}

.box_d div.fl{ margin:.05rem 0 0 .2rem;}
.box_d div.fl a{display: inline-block;height: .5rem; color: #fff;font: .24rem/.5rem 'Microsoft YaHei';text-decoration: none;text-align: center;width:1.75rem;-webkit-border-radius:.1rem; -moz-border-radius:.1rem; border-radius:.1rem;}
.box_d div.fl h5{ height:.35rem; line-height:.35rem; text-align:left; font-size:.28rem;}
.box_d div.fl h5 span{ margin-left:.1rem;}

.box_d div.fl a.btn_b1{background:#e76148; margin-right:.2rem;}
.box_d div.fl a.btn_b2{background:#3b83ff;}


.ask_ys{ position:fixed; right:.1rem; bottom:2.3rem; background:url(../images/ask_ys.png) no-repeat; background-size:100%; width:1.01rem; height:1.09rem; overflow:hidden;}
.ask_ys a{ display:block; width:100%; height:100%;}
/*===ҽ��ҳ-�ʴ����� end===*/

.box_e{background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;bottom: 0;height:1rem;left: 0;line-height: 1rem;position: fixed;right: auto;text-align: center;width: 100%;z-index: 5000;}
.box_e .box_center2{margin: 0;padding: 0;width: 100%;height:1rem;text-align: center}
.box_e .box_center2 a{display: inline-block;height: .7rem;border-radius: .06rem;color: #fff;font: .28rem/.7rem 'Microsoft YaHei';text-decoration: none;text-align: center;width:1.74rem; margin:0 .12rem;}
.box_e a.btn_e1{background: #53d37e}
.box_e a.btn_e2{background: #e76148}
.box_e a.btn_e3{background: #3b83ff;position: relative;}
.box_e a.btn_e3 img{ width:.49rem; height:.31rem; display:block; position: absolute; z-index:99; left:1.3rem; bottom:.5rem;}



/*===��������-����֪ʶ-������ϸҳ end===*/









